<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subha Coding Academy</title>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/stylecontact.css">
</head>
<body>
    <nav id="navbar">
        <ul>
             <div id="logo"><img src="/static/img/logo.png">SCA</div>
             <li><a href="/">Home</a></li><li><a href="/">About</a></li>
             <li><a href="/">Services</a></li><li><a href="/">class info</a></li>
             <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>

    
    <div class="container">
        <h1>Contact us</h1>
        <form class="myform" action="/contact" method="post">
            <input class="myinput" type="text" name="name" placeholder="Enter your name">
            <input class="myinput" type="phone" name="Phone" placeholder="Enter your Phone number">
            <input class="myinput" type="email" name="Email" placeholder="Enter your Email-ID">
            <input class="myinput" type="text" name="Adress" placeholder="Enter your Adress">
            <input class="myinput" type="text" name="desc" placeholder="Enter your Concern">
            <button class="btn">Submit</button></form>
        </div>
        <footer id="footer"> copyright 2023: ©suhacodingacademy.com </footer>
</body>
</html>