<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subha Coding Academy</title>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav id="navbar">
        <ul>
             <div id="logo"><img src="/static/img/logo.png">SCA</div>
             <li><a href="/">Home</a></li><li><a href="/">About</a></li>
             <li><a href="/">Services</a></li><li><a href="/">class info</a></li>
             <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>

    <section id="introsection">
         <div>Welcome to Subha Coding Academy </div>
         <div class="small">Eat Sleep Code Repeat</div>
    </section>
    <section id="missionsection"> 
        <h2>Our Mission </h2>
        <div class="card">
            <h3>Become a Developer </h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/img/1.jpg">
                </div>
                <div class="card-content">
                    <p>This is best Coding academy of all</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Code the way you like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/img/2.png">
                </div>
                <div class="card-content">
                    <p>Code like a Pro Developer.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Expert Teaching</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/img/3.jpg">
                </div>
                <div class="card-content">
                    <p>one step towards being a Coder</p>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsorsection">
         <h2>Our Recruiters</h2>
         <div id="sponsor">  
            <img class="spimage" src="/static/img/logo1.png" alt="Sponsor image">
            <img class="spimage" src="/static/img/logo2.png" alt="Sponsor image">
            <img class="spimage" src="/static/img/logo3.png" alt="Sponsor image">
            <img class="spimage" src="/static/img/logo4.png" alt="Sponsor image">
        </div>
    </section>

    <footer id="footer"></footer>
    <script></script>
    <footer id="footer"> copyright 2023: ©suhacodingacademy.com </footer>
</body>
</html>